---
    import Avatar from "./avatar.astro"
    import Title from "./title.astro"
    import Description from "./description.astro"
---

<section>
    <Avatar />
    <Title />
    <Description />
</section>

<style scoped>

</style>