---
    import Avatar from "./avatar.astro"
    import Title from "./title.astro"
    import Description from "./description.astro"
---

<section class="about_me">
    <Avatar />
    <Title />
    <Description />
</section>

<style> 

    @media screen and (min-width: 768px) {
        .about_me {
            padding: 1.5rem;
        }
    }

    @media screen and (min-width: 920px) {
        .about_me {
            padding: 2rem;
        }
    }


</style>