<section class="content_desc">
    <p>
        +1 año y medio de experiencia desarrollando aplicaciones con Javascript, React
        js y Ract Native. He colaborado en diferentes comunidades enseñando
        temas relacionados con Javascript, me gusta apoyar a cualquier equipo
        donde trabaje aportando ideas y buenas prácticas para el desarrollo del
        producto final.
    </p>
</section>

<style>
    .content_desc {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content_desc p {
        text-align: center;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    @media screen and (min-width: 768px) {
        .content_desc p {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }



</style>
