---
import { COLORS } from "../utils/colors";
---

<section class="content_desc">
    <p>
        <span style={`color: ${COLORS.blueSky}`}>+1 a침o</span> y medio de experiencia desarrollando aplicaciones m칩viles y web usando React
        js y Ract Native. He colaborado en diferentes comunidades ense침ando
        temas relacionados con el desarrollo m칩vil. Soy aficionado a las ciencias, deportes y 
        videojuegos.
    </p>
</section>

<style>
    .content_desc {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content_desc p {
        text-align: center;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .content_desc p > span {
        font-weight: 700;
    }

    @media screen and (min-width: 768px) {
        .content_desc p {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    @media screen and (min-width: 1020px) {

        .content_desc {
            width: 97%;
        }

        .content_desc p {
            text-align: justify;
        }
    }


</style>
