---
---

<section class="content_desc">
    <p>
        +1 a침o y medio de experiencia desarrollando aplicaciones m칩viles y web usando React
        js y Ract Native. He colaborado en diferentes comunidades ense침ando
        temas relacionados con el desarrollo m칩vil. Soy aficionado a las ciencias, deportes y 
        videojuegos.
    </p>
</section>

<style>
</style>
