<section>
    <p>
        +1 año y medio de experiencia desarrollando aplicaciones con Javascript, React
        js y Ract Native. He colaborado en diferentes comunidades enseñando
        temas relacionados con Javascript, me gusta apoyar a cualquier equipo
        donde trabaje aportando ideas y buenas prácticas para el desarrollo del
        producto final.
    </p>
</section>

<style scoped>
    
</style>
