<footer class="footer">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nesciunt
        vitae voluptatibus? Eaque at, dolorum magnam beatae enim perferendis
        quisquam ipsam facere inventore corporis atque reiciendis accusantium
        magni dicta nostrum.
    </p>
    <p>
        hecho con 💜 
    </p>
</footer>

<style>
</style>