---
import AboutMe from "./aboutMe.astro"
import Footer from "./footer.astro";
import Projects from "./projects.astro";
---

<main>
    <AboutMe />
    <Projects />
    <Footer />
</main>

<style scoped>

</style>