---
interface Tecnologie {
    url: string;
    alt: string;
}

interface Props {
    title: string;
    descp: string;
    techs: Array<Tecnologie>;
    code: string;
    demo: string;
}

const { code, demo, descp, techs, title } = Astro.props;
---

<article class="card">
    <h3>
        {title}
    </h3>
    <p>
        {descp}
    </p>
</article>

<style>

</style>
