---
import Tecnologies from "./tecnologies.astro";

---

<article>
    <header>

    </header>
    <p>

    </p>
    <Tecnologies />
    <div>
        <button>Código</button>
        <button>Demo</button>
    </div>
</article>