---
import ItemProject from "./itemProject.astro";

const mockData = [
    {
        title: "Wuptick",
        descp: "An application developed for testing purposes with React Native and Expo to have access to all service providers from Nueva Esparta. Venezuela.",
        techs: [{ url: "", alt: "" }],
        code: "",
        demo: ""
    },
    {
        title: "Wuptick",
        descp: "An application developed for testing purposes with React Native and Expo to have access to all service providers from Nueva Esparta. Venezuela.",
        techs: [{ url: "", alt: "" }],
        code: "",
        demo: ""
    },
    {
        title: "Wuptick",
        descp: "An application developed for testing purposes with React Native and Expo to have access to all service providers from Nueva Esparta. Venezuela.",
        techs: [{ url: "", alt: "" }],
        code: "",
        demo: ""
    },
    {
        title: "Wuptick",
        descp: "An application developed for testing purposes with React Native and Expo to have access to all service providers from Nueva Esparta. Venezuela.",
        techs: [{ url: "", alt: "" }],
        code: "",
        demo: ""
    }
]
---

<section class="projects">
    <h2> Proyectos </h2>
    <section>
        {
            mockData.map( project => (
                <ItemProject
                    {...project}
                />
            ))
        }
    </section>
</section>

<style>
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projects h2 {
        width: 100%;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .projects section {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {

        .projects h2 {
            padding: 1.5rem;
        }

        .projects section {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

</style>