---
import ItemProject from "./itemProject.astro";
import Subtitle from "./subtitle.astro";

const mockData = [
    {
        title: "Wuptick",
        descp: "An application developed for testing purposes with React Native and Expo to have access to all service providers from Nueva Esparta. Venezuela.",
        techs: [{ url: "", alt: "" }],
        code: "",
        demo: ""
    },
    {
        title: "Wuptick",
        descp: "An application developed for testing purposes with React Native and Expo to have access to all service providers from Nueva Esparta. Venezuela.",
        techs: [{ url: "", alt: "" }],
        code: "",
        demo: ""
    },
    {
        title: "Wuptick",
        descp: "An application developed for testing purposes with React Native and Expo to have access to all service providers from Nueva Esparta. Venezuela.",
        techs: [{ url: "", alt: "" }],
        code: "",
        demo: ""
    },
    {
        title: "Wuptick",
        descp: "An application developed for testing purposes with React Native and Expo to have access to all service providers from Nueva Esparta. Venezuela.",
        techs: [{ url: "", alt: "" }],
        code: "",
        demo: ""
    }
]
---

<section class="projects">
    <Subtitle
        text="💻 Proyectos"
    />
    <section>
        {
            mockData.map( project => (
                <ItemProject
                    {...project}
                />
            ))
        }
    </section>
</section>

<style>
</style>