---
    import LinkedinLogo from "../assets/linkedin.svg"
    import GithubLogo from "../assets/github.svg"
---

<div class="socials">
    <picture class="content_svg">
        <a href="https://github.com/Rodevp" target="_blank">
            <img  src={GithubLogo} alt="github logo" width="30" height="30" />
        </a>
    </picture>
    <picture class="content_svg">
        <a href="https://www.linkedin.com/in/rodrigo-rodriguez-desarrolladormovil/"  target="_blank" >
            <img  src={LinkedinLogo} alt="linkedin logo" width="30" height="30" />
        </a>
    </picture>
</div>

<style>
    .content_svg {
        width: 30px;
        height: 30px;
    }
</style>