---
const {  tecnologies } = Astro.props
---

<div class="tecnologies">
    {
        tecnologies.map( ( tecnologie: any ) => (
            <picture>
                <img  src={tecnologie.url} alt={tecnologie.alt} />    
            </picture>
        ))
    }
</div>

<style>
</style>