---
    import Socials from "./socials.astro";
---

<section class="content_title">
    <h1>Rodrigo Rodriguez</h1>
    <h3>
        <span>React Native</span> developer
    </h3>
    <Socials />
</section>

<style> 
    .content_title {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgb(220, 214, 247);
    }

    .content_title h1, .content_title h3 {
        font-weight: 700;
        text-align: center;
    }

    .content_title h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .content_title h3 {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .content_title h3 > span {
        color: rgb(97, 218, 251);
    }

    @media screen and (min-width: 768px) {
        .content_title h1 {
            font-size: 3.75rem;
            line-height: 1;
        }

        .content_title h3 {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
        
    }

    @media screen and (min-width: 1020px) {
        
        .content_title {
            width: 97%;
        }
        
        .content_title h1, .content_title h3 {
            text-align: left;
        }
    }

</style>