---
    import Socials from "./socials.astro";
---

<section>
    <h1>Rodrigo Rodriguez</h1>
    <h3>
        <span>React</span> & React Native developer
    </h3>
    <Socials />
</section>

<style scoped> 

</style>