.avatar {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(337deg, rgba(173,123,233,1) 0%, rgba(255,141,93,1) 100%);
}

.image {
    width: 95%;
    height: 95%;
    border-radius: 100%;
    filter: grayscale(90%);
}